.frmRetangulo{
	display: block;
	margin-left: auto;
	margin-right: auto;
	 width: 500px;
	 font-family: FreeMono, monospace;	 
 }

 input, select{
	width: 70px;
	margin: 0 auto;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
 }
 
 h1{
	 text-align: center;
	 font-family: FreeMono, monospace;	
	 font-size: 50px;
 }
 
 body{
	 background-color: #FFFAFA;
 }
 
 #menu ul {
    padding:0px;
    margin:0px;
    background-color:#EDEDED;
    list-style:none;
}

#menu ul li { display: inline; }

#menu ul li a {
    padding: 7px 10px;
    display: inline-block;

    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
}

#menu ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #043806;
}
